# Корневой файл editorconfig
root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
insert_final_newline = true

# Используем табы для отступов (Не указываем размер)
[*.{js,css}]
indent_style = tab

# Задаем форматирование для JS и CSS
[*.{js,css}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Но не переформатируем минифицированные JS и CSS файлы.
[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore
