@import "./src/styles/normalize.css";
@import "./src/styles/gameBoard.css";
@import "./src/styles/score.css";

html {
  background-color: mediumseagreen;
  /*cadetblue*/
  /*lightseagreen*/
  /*mediumseagreen*/
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}
